.idea/*
*.ipynb
*.pyc
/.ipynb_checkpoints/
/assignment1/dnn_dir/
/assignment1/output/
!/assignment1/main_notebook.ipynb
!/assignment1/main2_notebook.ipynb
*.pkl
!/assignment1/main3_notebook.ipynb
/assignment2/ABAGAIL/src/
assignment2/ABAGAIL/docs/
/data/social_honeypot/content_polluters_tweets.txt
/data/social_honeypot/legitimate_users_tweets.txt
